
.signin_box{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
}

.signin_form{
    background-color: white;
    width: 90%;
    margin: 0 auto;
    border: solid 1px #DDDDDD;
    padding: 15px;
    font-size: 1.2rem;
}

.signin_form span{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.form_wrap{
    text-align: left;
    padding: 10px;
}

.form_wrap p{
    color: red;
    font-size: 0.5rem;
}

.signin_form label{
    font-size: 0.8rem;
    font-weight: 500;
}

.signin_form input{
    width: 95%;
    height: 25px;
    padding: 2px;
}

.link{
    text-decoration: none;
}

.mobile_city{
    display: flex;
}

.mobile{
    flex: 60;
}

.city{
    flex: 40;
}

.address{
    height: 50px;
}

@media (min-width: 1025px){

    .signin-box{
        width: 35%;
    }
}
